<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>타임리프 예제4(조건문)</title>
</head>



<body>
  <h1>타임리프 예제4(조건문)</h1>
  

  <h3> th:if   /   th:unless </h3>

  <pre>
    th:if = "조건식"
    - 조건식이 true인 경우에 수행

    th:unless = "조건식" == else
    - 조건식이 false인 경우에 수행
  </pre>


  <!-- th:block 태그 :  
    -타임리프에 존재하는 유일한 태그 
    -타임리프가 해석된 후 사라짐
      -> 타임리프가 적용될만한 마땅한 태그가 없을 떄
          또는 조건문, 반복문 가독성을 증가 시키고 싶을 떄 사용
  -->

  <th:block th:if= "${std == null}">
    <h3>std 없음</h3>
  </th:block>

  <th:block th:unless = "${std == null}">
    <h3 th:text="${std}">std.toString 출력</h3>
  </th:block>

  <hr>

  <h3>조건식에 작성된 변수에 값이 존재하는지 확인하는  방법</h3>

  <p>
    th:if = "${변수명|key}"
    <br>
     -> 변수에 값이 있으면 true, 없으면 false 
  </p>


  <!-- ${std} == 
        th:if= "${std != sull}" -->
  <t:block th:if= "${std}">
    <h3>std 있음</h3>
  </t:block>

  <!-- th:unless = "${std}" 
          == th:if = "${std == null}" -->
  <t:block th:unless = "${std}">
    <h3>std 없음</h3>
  </t:block>


  <hr>

  <h3> th:switch / th:case </h3>


  <t:block th:switch= "${num}">
  <!-- ${num} 값이 100인 경우 -->
  <p th:case= "100">AAAAAAAAAA</p>
  <p th:case= "200">BBBBBBBBBB</p>

  <!-- 100,00이 아닌 나머지 모든 경우 -->

  <p th:case= "*">CCCCCCCCCCCCCCCCCCCCCCC</p>
  </t:block>
  <hr>

  <h3> 삼항 연산자 </h3>

  <pre>
    (조건식 ? : true인경우 : false인 경우)
  </pre>

  <hr>

  <!-- 타임리프에서 
    문자열은 "", '' 가리지않고 작성 가능
      왜? 작성법은 HTML이니까 가능.
  
  
  -->
  <h4 th:text="${std.age == 5} ? '다섯살' : '너 누구야!!' "> </h4>
  <h4 th:text="${std.name == '맹구'} ? '맹구 맞습네다' : '너 누구야!!' "> </h4>



  <hr>

  <h3>Elvis 연산자 ( ?: )</h3>

  <pre>
    [작성법]
    값 ?: 값이 없을 때

    - 값이 존재하는 경우      -> 값 출력
    - 값이 존재하지 않은 경우 -> 값이 없을 떄 출력 
  </pre>

  <h4 th:text="${std} ?: '학생 없음'"> </h4>
  
  
  <h4 th:text="${member} ?: '회원 없음'"> </h4>

  <hr>
  <h3>No-Operation 연산자 ( 값 ?: _)</h3>

 

  <pre>
    - 값이 존재하지 않을경우
       태그 사이에 작성된 내용(content 영역)을 
                                        출력하는 연산자
  </pre>

 <h4 th:text="${std} ?: _">std 정보 출력</h4>
 
 <h4 th:text="${member} ?: _">member 없음</h4>
 
 
 <h4 th:text="${member} ?: _"><img src="/images/logo2.png"></h4>

 



</body>
</html>