<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gvideos</title>
  <link rel="stylesheet" href="css/main.css">
</head>



<body>


<div class="header">

      <div class="header1"> <a href="#" class="logo">Gvideos<img src="" alt=""> </a> </div>
          
      <div class="header2"> 

        <div class="searchOutline">
          <input type="text" class="search" placeholder="번호 입력." autocomplete="off"> 
          <button class="searchButton">제출</button>
        </div>

      </div>


      <div class="header3"> asdasd</div>


</div>





</body>


</html>