<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gvideos</title>
  <link rel="stylesheet" href="css/main.css">
</head>



<body>

</head>
<body>

    <!-- 헤더 -->
    <header>
        <h1> > D조 프로젝트 < </h1>
        <div class="headerNav">
            <a href="#">메인</a>
            <a href="#">지도</a>
            <a href="#">장소</a>
            <a href="#">그룹 채팅</a>
        </div>
    </header>

    <!-- 히어로 섹션 -->
        <section class="hero">
            <h2 class="mainFont">Welcome to Our Website</h2>
        </section>

    <!-- 서비스 섹션 -->
    <section class="services">
        <h3>서비스</h3>
        <div class="service">
            <h4>서비스 1</h4>
            <p>새로운 친구들을 만나보세요.</p>
        </div>
        <div class="service">
            <h4>서비스 2</h4>
            <p>동네 근처 맛있는 맛집 찾기</p>
        </div>
        <div class="service">
            <h4>서비스 3</h4>
            <p>자신만에 맛집을 공유해보세요</p>
        </div>
    </section>

    <!-- 소개 섹션 -->
    <section class="about">
        <h3>KH_세미 프로젝트 D조</h3>
        <p></p>
    </section>

    <!-- 푸터 -->
    <footer>
        <p>&copy; 2024 KH아카데미</p>
    </footer>


</body>


</html>