<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>테스트 1 결과.</title>
</head>

<body>
  <h1>테스트 1 결과</h1>


  <ul>
    <!-- 타임리프는 HTML의 속성 형태로 작성!! -->
     <!-- 타임리프에서 사용하는 구문 SpringEL이라고 한다1 -->
    <li th:text="${param.inputName}">입력받은 이름</li>
    <li th:text="${param.inputAge}">입력받은 나이</li>
    <li th:text="${param.inputAddress}">입력받은 주소</li>
  </ul>

  <h3 th:text="${message}">전달 받은 메시지</h3>


</body>

</html>