<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>




<body>


    <div class="container" style="display:none;">
        <h2>로그인</h2>
        <form id="login-form">
            <input type="email" placeholder="이메일" required><br>
            <input type="password" placeholder="비밀번호" required><br>
            <button type="submit">로그인</button>
            <div class="toggle">
                <p>계정이 없으신가요? <a href="#" onclick="toggleForms()">회원가입</a></p>
            </div>
        </form>
    </div>
    
</body>
</html>